{% extends 'base.html' %}
{% block content %} 
<style>
  form {
    width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    width: 200px;
    padding: 10px 20px;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
</style>
<form id="myForm" action="/intelliq_api/answerquestion/{{session_id}}/{{questionnaire_id}}/{{nextQuestion_id}}">
  <h2>{{Question}}</h2>
  <input id="optionID" type="text" placeholder="Type your answer here">
  <br><br>
  <input type="submit" value="Submit">
</form>

<script>
  const input = document.getElementById("optionID");
  input.addEventListener("input", function() {
    if (input.value === ".." || input.value.includes("/") || input.value.includes("\\")) {
      input.style.backgroundColor = "pink";
    } else {
      input.style.backgroundColor = "white";
    }
  });

  document.getElementById("myForm").addEventListener("submit", function (event)  {
    let answer = document.getElementById("optionID").value;
    if (!answer) {
      alert("Please enter an answer to the question.");
      event.preventDefault();
      return;
    }
    if (answer === "..") {
      alert("Answer must not be double dots (..)");
      event.preventDefault();
      return;
    }
    if (answer.includes("/") || answer.includes("\\")) {
      alert("Answer must not contain forward slashes (/), or backslashes (\\)");
      event.preventDefault();
      return;
    }

    url = '/intelliq_api/doanswer/{{questionnaire_id}}/{{question_id}}/{{session_id}}/' + answer
    fetch(url, {method:'POST'})
    .then(response => {
    url = `/intelliq_api/answerquestion/{{session_id}}/{{questionnaire_id}}/{{nextQuestion_id}}`;
    document.getElementById("myForm").action = url;
    document.getElementById("myForm").submit();
  })

  event.preventDefault();
    
  });
</script>
{% endblock %}